.dropdown {
    max-height: 250px;
    width: 35%;
    background-color: rgba(122, 182, 182, 0.753);
    overflow: auto;
    border-radius: 15px;

}

input {
    border-radius: 8px;
    padding: 10px;
}

.nome:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
}

.card {
    width: 35%;
}