.dropdown {
    max-height: 250px;
    width: 35%;
    background-color: rgba(114, 161, 161, 0.753);
    overflow: auto;
    border-radius: 15px;
}

input {
    border-radius: 8px;
    padding: 10px;
}

p {
    margin-bottom: 0;
}

details {
    margin-bottom: 10px;
}